# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtualenv
venv/
.env

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc

# Node
node_modules/

# Images placeholder
static/images/.DS_Store
